/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  width: 75%;
  display: block;
  margin: 0 auto;
}

iframe {
  width: 75%;
  height: 400px;
}

img, h3, iframe {
  float: right;
}

h3 {
  width: 25%;
}
.container {
  margin: 25px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
